# CONFIGURACIÓN LOCAL

# 1. Conexión a tu PostgreSQL local (Cámbialo por tus credenciales)
# Formato: postgresql://usuario:password@localhost:puerto/nombre_bd
DATABASE_URL=postgresql://postgres:root@localhost:5432/postgres

# 2. Ruta donde se generará el Data Warehouse de DuckDB (Dejar por defecto)
DUCKDB_PATH=./warehouse.db

# 3. Puerto para levantar el servidor de FastAPI (Dejar por defecto)
PORT=8000

# 4. Secreto JWT para los endpoints predictivos (Dejar vacío para modo desarrollo local)
JWT_SECRET=hola_mundo_secreto_para_jwt_local